@model Tuple<InsuranceProject.Areas.Admin.Model.IndexWM, InsuranceProject.Areas.Admin.Model.MainFaqsWM>

@{
    ViewData["Title"] = "InsurancePolicyFaqs";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}


<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            language: {

            },
            "oLanguage": { "sSearch": "" },
            "language": {
                "searchPlaceholder": "Ara",
                "paginate": {
                    "next": '<i class="fa fa-fw fa-long-arrow-right">',
                    "previous": '<i class="fa fa-fw fa-long-arrow-left">',

                }
            }
        });
    });

</script>


<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
            <span>
                <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                    <span class="btn-icon-wrapper">
                        <i class="fa fa-ellipsis-v fa-w-6"></i>
                    </span>
                </button>
            </span>
        </div>   
        <div class="app-header__content">
            <div class="app-header-right">
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                        <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg" alt="">
                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                        <button type="button" tabindex="0" class="dropdown-item">User Account</button>
                                        <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                        <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                        <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                        <div tabindex="-1" class="dropdown-divider"></div>
                                        <button type="button" tabindex="0" class="dropdown-item">Dividers</button>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    <span class="own">Gökhan Sarılar</span>
                                </div>
                                <div class="widget-subheading">
                                    BMG Sigorta - CEO
                                </div>
                            </div>
                            <div class="widget-content-right header-user-info ml-3">
                                <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                    <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="app-main">
        <div class="app-sidebar sidebar-shadow">
            <div class="scrollbar-sidebar">
                <div class="app-sidebar__inner">
                    <div class="group-dv">
                        <ul class="vertical-nav-menu">

                            <li class="app-sidebar__heading">Bireysel</li>
                            <li>
                                <a class="cat bg-dark">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span class="ct"> Kategoriler</span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>

                                <ul>
                                    <li>
                                        <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-name="@Model.Item1.IndividualGroup.GroupName" class="new-cat">
                                            <span class="nw-ct">
                                                Kategorileri Düzenle
                                            </span>
                                        </a>
                                    </li>
                                    @foreach (var item in Model.Item1.CategoriesAndInsuranceList)
                                    {
                                        <li>
                                            <a href="#" class="cat-name">
                                                <i class="metismenu-icon pe-7s-diamond"></i>
                                                <span class="cat-n"> @item.Name</span>
                                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                            </a>
                                            <ul class="cat-ul">
                                                <li class="cat-li">
                                                    <a class="add-pol" asp-area="Admin" asp-controller="Admin" asp-action="CreateInsurance" asp-route-name="@item.Name">
                                                        <span>Poliçe Ekle </span>
                                                    </a>
                                                </li>
                                                @foreach (var items in item.InsuranceListName)
                                                {
                                                    <li class="cat-li">
                                                        <a asp-area="Admin" asp-controller="Admin" asp-action="InsurancePolicy" asp-route-url="@items.Url">
                                                            <span>@items.Name</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>


                                    }
                                </ul>
                            </li>
                            <div class="cat-bor"></div>
                            <li class="app-sidebar__heading">Kurumsal</li>
                            <li>
                                <a href="#" class="cat bg-dark">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span class="ct"> Kategoriler</span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>

                                <ul>
                                    <li>
                                        <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-name="@Model.Item1.CorporateGroup.GroupName" class="new-cat">
                                            <span class="nw-ct">
                                                Kategorileri Düzenle
                                            </span>
                                        </a>
                                    </li>
                                    @foreach (var item in Model.Item1.CorporatecategoryGroups)
                                    {
                                        <li>
                                            <a href="#" class="cat-name">
                                                <i class="metismenu-icon pe-7s-diamond"></i>
                                                <span class="cat-n"> @item.Name</span>
                                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                            </a>
                                            <ul>
                                                <li class="cat-li">
                                                    <a class="add-pol" asp-area="Admin" asp-controller="Admin" asp-action="CreateInsurance" asp-route-name="@item.Name">
                                                        <span>Poliçe Ekle </span>
                                                    </a>
                                                </li>
                                                @foreach (var items in item.InsuranceListName)
                                                {
                                                    <li class="cat-li">
                                                        <a asp-area="Admin" asp-controller="Admin" asp-action="InsurancePolicy" asp-route-url="@items.Url">
                                                            <span>@items.Name</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>


                                    }
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="log-gr">
                        <a href="/account/logout" class="log" id="lg">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            Çıkış Yap
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-car icon-gradient bg-mean-fruit">
                                </i>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="dashboard-text">@Model.Item1.InsuranceLists.Name Sık Sorulanlar Düzenleme Sayfası</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row new-info-row">
                    <div class="col-11 col-sm-12 col-md-11 col-lg-11 col-xl-11 text-center text-center mb-2">
                        <div class="d-flex justify-content-end mb-3">
                            <a href="#" data-toggle="modal" data-target="#newGuaranteeName" class="new-gua bg-dark">Yeni Sorular Ekle</a>

                            <!-- Modal -->
                            <div class="modal fade" id="newGuaranteeName" data-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Sık Sorulanlar Düzenleme Ekranı</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-area="Admin" asp-controller="Admin" asp-action="NewMainFaqsCreate">
                                                <div class="form-group">
                                                    <label class="label-g">Başlık Adı</label>
                                                    <input asp-for="@Model.Item2.Name" class="form-control mainfaqs" />
                                                    <span asp-validation-for="@Model.Item2.Name" class="validation"></span>
                                                    <input type="hidden" name="InsuranceListId" class="InsuranceListId" value="@Model.Item1.InsuranceLists.Id" />
                                                </div>

                                                <div class="btns">
                                                    <button type="submit" class="btn btn-dark">Kaydet</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive-sm table-responsive-md table-responsive-lg table-row">
                            <table class="table table-striped table-sm" id="myTable">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th scope="col" style='width: 15%;'>Başlık İsmi</th>
                                        <th scope="col" style='width: 30%;'>Poliçe Adı</th>
                                        <th scope="col" style='width: 30%;'>Eklenme Tarihi</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Item1.InsuranceLists.MainFaqs)
                                    {

                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.InsuranceList.Name</td>
                                            <td>@item.Date.ToString("dddd, MMMM d, yyyy");</td>
                                            <td class="t-t">
                                                <a asp-area="Admin" asp-controller="Admin" asp-action="MainFaqsDetails" asp-route-id="@item.Id" class="btn btn-dark all-button" type="button" id="">Görüntüle</a>
                                                <button class="btn btn-secondary all-button" data-id="@item.Id" type="button" id="mainFaqsId" data-toggle="modal" data-target="#exampleModal">Düzenle</button>
                                                <button class="btn btn-light all-button" data-id="@item.Id" id="deleteMainfaqs">Sil</button>
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" data-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Teminat Düzenle</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body" id="form-modal-body">
                                            <form asp-area="Admin" asp-controller="Admin" asp-action="MainFaqsEditPost">
                                                <div class="form-group">
                                                    <input type="hidden" class="form-control header-faqs" name="mainfaqsId" value="" />
                                                    <input asp-for="@Model.Item2.Name" class="form-control header-val" />
                                                    <span asp-validation-for="@Model.Item2.Name"></span>
                                                </div>
                                                <div class="btns">
                                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div>



<script>
    $(document).on("click", "#faqsId", function () {
        var passedID = $(this).data('id');
        console.log(passedID);
        $(".modal-body .faqs").val(passedID);
    });

</script>


<script type="text/javascript">

    $(function () {
        $(".wrapper").on("click", "#faqsId", function () {

            let btn = $(this);
            let id = btn.data("id");

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/admin/admin/getfaqs/" + id,
                success: function (data) {
                    let parseData = JSON.parse(data);
                    console.log(parseData);

                    let valueQuestion = "";
                    valueQuestion += `${parseData.Question}`;

                    let valueAnswer = "";
                    valueAnswer += `${parseData.Answer}`;

                    $(".fa-que").val(valueQuestion);

                    $(".fa-ans").val(valueAnswer);


                }
            });
        });
    });



    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
    }

</script>

<script>
    let toggles = document.getElementsByClassName("toggle");
    let contentDiv = document.getElementsByClassName("content");
    let icons = document.getElementsByClassName("icon");

    for (let i = 0; i < toggles.length; i++) {
        toggles[i].addEventListener("click", () => {
            if (parseInt(contentDiv[i].style.height) != contentDiv[i].scrollHeight) {
                contentDiv[i].style.height = contentDiv[i].scrollHeight + "px";
                toggles[i].style.color = "#0084e9";
                icons[i].classList.remove("fa-plus");
                icons[i].classList.add("fa-minus");
            } else {
                contentDiv[i].style.height = "0px";
                toggles[i].style.color = "#111130";
                icons[i].classList.remove("fa-minus");
                icons[i].classList.add("fa-plus");
            }

            for (let j = 0; j < contentDiv.length; j++) {
                if (j !== i) {
                    contentDiv[j].style.height = 0;
                    toggles[j].style.color = "#111130";
                    icons[j].classList.remove("fa-minus");
                    icons[j].classList.add("fa-plus");
                }
            }
        });
    }


</script>


<script>

    $(function () {
        $("tbody").on("click", "#deleteMainfaqs", function () {
            var btn = $(this);
            bootbox.confirm("<h5>Silmek istediğinize emin misiniz?</h5>", function (result) {
                if (result) {
                    var id = btn.data("id");
                    console.log(id);
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Admin/deleteMainfaqs/" + id,
                        success: function () {
                            btn.parent().parent().remove();

                        },

                    });

                };

            });

        });
    });

</script>




<script>
    $(document).on("click", "#mainFaqsId", function () {
        var passedID = $(this).data('id');
        console.log(passedID);
        $(".modal-body .header-faqs").val(passedID);
    });

</script>


<script type="text/javascript">

    $(function () {
        $("tbody").on("click", "#mainFaqsId", function () {

            let btn = $(this);
            let id = btn.data("id");
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/admin/admin/MainFaqsGet/" + id,
                success: function (data) {
                    let parseData = JSON.parse(data);
                    console.log(parseData);
                    let header = "";
                    header += `${parseData.Name}`;

                    $(".header-val").val(header);

                }
            });

        });
    });


    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
    }

</script>