@model Tuple<InsuranceProject.Areas.Admin.Model.IndexWM, InsuranceProject.Areas.Admin.Model.CategoryModel, InsuranceProject.Areas.Admin.Model.InsuranceNameEditModel>

@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}


<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            language: {

            },
            "oLanguage": { "sSearch": "" },
            "language": {
                "searchPlaceholder": "Ara",
                "paginate": {
                    "next": '<i class="fa fa-fw fa-long-arrow-right">',
                    "previous": '<i class="fa fa-fw fa-long-arrow-left">',

                }
            }
        });
    });

</script>

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
            <span>
                <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                    <span class="btn-icon-wrapper">
                        <i class="fa fa-ellipsis-v fa-w-6"></i>
                    </span>
                </button>
            </span>
        </div>    
        <div class="app-header__content">
            <div class="app-header-right">
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                        <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg" alt="">
                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                        <button type="button" tabindex="0" class="dropdown-item">User Account</button>
                                        <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                        <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                        <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                        <div tabindex="-1" class="dropdown-divider"></div>
                                        <button type="button" tabindex="0" class="dropdown-item">Dividers</button>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left ml-3 header-user-info">
                                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#settingsModal">
                                        <div class="settings-image-group">
                                            <img src="~/@Model.Item1.Image" class="settings-image" alt="">
                                        </div>
                                        <div class="button-grps">
                                             <div class="widget-heading">
                                                    <span class="own">Gökhan Sarılar</span>
                                             </div>
                                             <div class="widget-subheading">
                                                    BMG Sigorta - CEO
                                             </div>
                                        </div>
                                 </button>
                            </div>
                             @*settingsModal*@
                            <div class="modal fade" id="settingsModal" data-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Ayarlar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body" id="form-modal-body">
                                            <form asp-area="admin" asp-controller="Admin" asp-action="EditSettings" method="post" enctype="multipart/form-data">
                                                <div class="form-group">

                                                    <div class="avatar-upload">
                                                        <div class="avatar-edit">
                                                            <input type='file' name="file" id="imageUpload" accept=".png, .jpg, .jpeg" onchange="previewFile()" />
                                                            <label for="imageUpload"><i class="fa-solid fa-pencil"></i></label>
                                                        </div>
                                                        <div class="avatar-preview">
                                                            <img id="imagePreview" src="~/@Model.Item1.Image">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-g" for="exampleInputEmail1">Email</label>
                                                    <input class="form-control" asp-for="@Model.Item1.Email">
                                                    <span class="validation" asp-validation-for="Item1.Email"></span>
                                                    <small id="emailHelp" class="form-text text-muted"></small>
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-g" for="exampleInputPassword1">Şifre</label>
                                                    <input class="form-control" asp-for="@Model.Item1.Password">
                                                    <span class="validation" asp-validation-for="Item1.Password"></span>
                                                </div>
                                                <div class="btns">
                                                    <button type="submit" class="btn btn-dark">Kaydet</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="app-main">
        <div class="app-sidebar sidebar-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>



            <div class="scrollbar-sidebar">
                <div class="app-sidebar__inner">
                    <div class="group-dv">
                        <ul class="vertical-nav-menu">

                            <li class="app-sidebar__heading">Bireysel</li>
                            <li>
                                <a href="#" class="cat bg-dark">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span class="ct"> Kategoriler</span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>

                                <ul>
                                    <li>
                                        <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-name="@Model.Item1.IndividualGroup.GroupName" class="new-cat">
                                            <span class="nw-ct">
                                                Kategorileri Düzenle
                                            </span>
                                        </a>
                                    </li>
                                    @foreach (var item in Model.Item1.CategoriesAndInsuranceList)
                                    {
                                        <li>
                                            <a href="#" class="cat-name">
                                                <i class="metismenu-icon pe-7s-diamond"></i>
                                                <span class="cat-n"> @item.Name</span>
                                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                            </a>
                                            <ul class="cat-ul">
                                                <li class="cat-li">
                                                    <a asp-area="Admin" asp-controller="Admin" asp-action="CreateInsurance" asp-route-name="@item.Name">
                                                        <span>Poliçe Ekle </span>
                                                    </a>
                                                </li>
                                                @foreach (var items in item.InsuranceListName)
                                                {
                                                    <li class="cat-li">
                                                        <a class="add-pol" asp-area="Admin" asp-controller="Admin" asp-action="InsurancePolicy" asp-route-url="@items.Url">
                                                            <span>@items.Name</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>


                                    }
                                </ul>
                            </li>
                            <div class="cat-bor"></div>
                            <li class="app-sidebar__heading">Kurumsal</li>
                            <li>
                                <a href="#" class="cat bg-dark">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    <span class="ct"> Kategoriler</span>
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>

                                <ul>
                                    <li>
                                        <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-name="@Model.Item1.CorporateGroup.GroupName" class="new-cat">
                                            <span class="nw-ct">
                                                Kategorileri Düzenle
                                            </span>
                                        </a>
                                    </li>
                                    @foreach (var item in Model.Item1.CorporatecategoryGroups)
                                    {
                                        <li>
                                            <a href="#" class="cat-name">
                                                <i class="metismenu-icon pe-7s-diamond"></i>
                                                <span class="cat-n"> @item.Name</span>
                                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                            </a>
                                            <ul>
                                                <li class="cat-li">
                                                    <a class="add-pol" asp-area="Admin" asp-controller="Admin" asp-action="CreateInsurance" asp-route-name="@item.Name">
                                                        <span>Poliçe Ekle </span>
                                                    </a>
                                                </li>
                                                @foreach (var items in item.InsuranceListName)
                                                {
                                                    <li class="cat-li">
                                                        <a asp-area="Admin" asp-controller="Admin" asp-action="InsurancePolicy" asp-route-name="@items.Name">
                                                            <span>@items.Name</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>


                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="log-gr">
                        <a href="#" class="log" id="lg">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            Çıkış Yap
                        </a>
                    </div>
                </div>
            </div>
        </div>   
        <div class="app-main__outer">
                      <div class="app-main__inner">
                          <div class="app-page-title">
                              <div class="page-title-wrapper">
                                  <div class="page-title-heading">
                                      <div class="page-title-icon">
                                          <i class="pe-7s-car icon-gradient bg-mean-fruit">
                                          </i>
                                      </div>
                                      <div>
                                          <span class="dashboard-text"> Bmg Sigorta @Model.Item1.CategoryName.Name Kategorisi Düzenleme Sayfası</span>
                                      </div>
                                  </div>

                              </div>
                          </div>
                          @*insurancemodal*@
                          <div class="modal fade" id="insurunceModalId" data-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Kategori Adı Düzenle</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>

                                      <div class="modal-body" id="form-modal-body">
                                          <form asp-area="Admin" asp-controller="Category" asp-action="İnsuranceNameEditFromCategory" method="POST">

                                              <div class="form-group">
                                                  <label class="label-g">Kategori Adı</label>
                                                  <input class="form-control ins-val" asp-for="@Model.Item3.Name">
                                                  <input class="hiddenInsurunceId" name="InsurunceId" type="hidden" value="">
                                                  <span asp-validation-for="@Model.Item3.Name" class="validation"></span>
                                              </div>

                                              <div class="btns">
                                                  <button type="submit" class="btn btn-dark">Kaydet</button>
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                              </div>
                                          </form>
                                      </div>

                                  </div>
                              </div>
                          </div>
                          <div class="row new-row-category d-flex justify-content-center">
                              <div class="col-md-11 col-lg-11">
                                  <table class="table table-striped" id="myTable">
                                      <thead class="bg-dark text-white">
                                          <tr>
                                              <th scope="col">Id</th>
                                              <th scope="col">Sigorta Adı</th>
                                              <th scope="col">Eklenme Tarihi</th>
                                              <th scope="col">Kategori Adı</th>
                                              <th scope="col"></th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          @foreach (var item in Model.Item1.CategoriesInsurunceList)
                                          {

                                              @foreach (var items in item.InsuranceList)
                                              {
                                                  <tr>
                                                      <td>@items.Id</td>
                                                      <td>@items.Name</td>
                                                      <td>@items.Date.ToString("dddd, MMMM d, yyyy");</td>
                                                      <td>@items.Category.Name</td>
                                                      <td class="t-t">
                                                          <a asp-area="Admin" asp-controller="Admin" asp-action="InsurancePolicy" asp-route-url="@items.SEOURL" class="btn btn-dark all-button" type="button" id="">Görüntüle</a>
                                                          <button class="btn btn-secondary all-button" data-id="@items.Id" type="button" id="insurunceId" data-toggle="modal" data-target="#insurunceModalId">Düzenle</button>
                                                          <button class="btn btn-light all-button" data-id="" id="deleteInsurance">Sil</button>
                                                      </td>
                                                  </tr>
                                              }

                                          }
                                      </tbody>
                                  </table>
                              </div>
                      </div>
              </div>
        </div>
    </div>
</div>





<script>
    $(document).on("click", "#insurunceId", function () {
        var passedID = $(this).data('id');
        $(".modal-body .hiddenInsurunceId").val(passedID);
    });

</script>


<script type="text/javascript">

    $(function () {
        $("tbody").on("click", "#insurunceId", function () {

            let btn = $(this);
            let id = btn.data("id");
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/admin/category/getinsuruncenamefromcategory/" + id,
                success: function (data) {
                    let parseData = JSON.parse(data);
                    console.log(parseData);

                    let value = "";
                    value += `${parseData.Name}`;

                    $(".ins-val").val(value);




                }
            });

        });
    });



</script>



<script>


    $(function () {
        $("tbody").on("click", "#deleteInsurance", function () {
            var btn = $(this);
            bootbox.confirm("<h5>Silmek istediğinize emin misiniz?</h5>", function (result) {
                if (result) {
                    var id = btn.data("id");
                    console.log(id);
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Category/deleteInsurance/" + id,
                        success: function () {
                            btn.parent().parent().remove();

                        },

                    });

                };

            });

        });
    });




</script>


